

.block {
  width: 200px;
  height: 200px;
}

.pink { background: #ee3e64; 
}
.blue { background: #44accf; }
.green { background: #b7d84b; }
.orange { background: #E2A741; }
.purple { background: #520577;}

.two p {
	font-size: 22px;
	color: white;

}

.two {
	float: left;
	width: 40%;
	height: 100%;
	margin: 20px;
	overflow: auto;
}


.three {
	float: right;
	width: 40%;
	margin: 20px;
}

.main img{
	width: 200px;
}

.header {
	width: 100%;
	height: 8%;
}

.main {
	width: 60%;
	height: 80%;
	float: left;
	margin-top: 2%;

}

.aside {
	width: 16%;
	height: 80%;
	float: left;
	margin: 2%;
}
.aside2 {
	width: 16%;
	height: 80%;
	float: right;
	margin: 2%;
}

.footer {
	width: 100%;
	height: 10%;
	float: left;
}