
header {
  background: #44accf;
  height: 100px;
  margin: 10px;
}

section {
	background: #FFF;
	margin: 10px;
	height: 500px; /*not sure how to make this a % of the page 
	and have nested divs be a percentage of this container*/
}

.insidemain1 {
background: rgb(100,120,40);
float: left;
width: 49.5%;
height: 100%;
margin-right: 1%;
}

.insidemain2 {
background: rgb(100,120,40);
float: left;
width: 49.5%;
height: 100%;
}

aside {
	float: left;
  	background: #FFF;
  	margin: 10px;
	height: 200px; 
	width: 100%;
	margin-top: 0px;
}

.row3-1 {
	background: rgb(100,120,40);
	float: left;
	width: 32%;
	height: 100%;
	margin-right: 1%;
}
.row3-2 {
	background: rgb(100,120,40);
	float: left;
	width: 32%;
	height: 100%;
	margin-right: 1.25%;
}
.row3-3 {
	background: rgb(100,120,40);
	float: left;
	width: 32%;
	height: 100%;
}

footer {
	float: left;
  	background: #FFF;
  	margin: 10px;
	height: 200px; 
	width: 100%;
	margin-top: 0px;
}

footer > div {
	background: rgb(160,160,40);
	float: left;
	width: 98.25%;
	height: 50%;
}


